name: Build Game

on:
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Get Project Path
        id: find_yyp
        run: |
          $yyp = Get-ChildItem -Path ${{ github.workspace }} -Filter *.yyp | Select-Object -First 1
          "yyp-path=$yyp" | Out-File -FilePath $env:GITHUB_OUTPUT -Append
      - name: Setup Igor
        uses: bscotch/igor-setup@v3
        id: igor
        with:
          target-yyp: ${{ steps.find_yyp.outputs.yyp-path }}
          access-key: ${{ secrets.GAMEMAKER_KEY }}
          modules: windows
          cache: true
      - name: Build with Igor
        uses: bscotch/igor-build@v1
        id: build
        with:
          yyp-path: ${{ steps.find_yyp.outputs.yyp-path }}
          user-dir: "${{ steps.igor.outputs.user-dir }}"
          platform: windows
      - name: Extract Build
        run: |
          Expand-Archive -Path "${{ steps.build.outputs.out-dir }}\${{ steps.build.outputs.out-name }}" -DestinationPath extracted
      - name: Upload Build
        uses: actions/upload-artifact@v4
        with:
          name: build-windows
          path: extracted
          retention-days: 1

  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Get Project Path
        id: find_yyp
        run: |
          yyp=$(find "${{ github.workspace }}" -maxdepth 1 -type f -name "*.yyp" | head -n 1)
          echo "yyp-path=$yyp" >> $GITHUB_OUTPUT
      - name: Setup Igor
        uses: bscotch/igor-setup@v3
        id: igor
        with:
          target-yyp: ${{ steps.find_yyp.outputs.yyp-path }}
          access-key: ${{ secrets.GAMEMAKER_KEY }}
          modules: mac
          cache: true
      - name: Build with Igor
        uses: bscotch/igor-build@v1
        id: build
        with:
          yyp-path: ${{ steps.find_yyp.outputs.yyp-path }}
          user-dir: "${{ steps.igor.outputs.user-dir }}"
          platform: mac
      - name: Extract Build
        run: |
          unzip "${{ steps.build.outputs.out-dir }}/${{ steps.build.outputs.out-name }}" -d extracted
      - name: Upload Build
        uses: actions/upload-artifact@v4
        with:
          name: build-macos
          path: extracted
          retention-days: 1

  build-web:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Get Project Path
        id: find_yyp
        run: |
          yyp=$(find "${{ github.workspace }}" -maxdepth 1 -type f -name "*.yyp" | head -n 1)
          echo "yyp-path=$yyp" >> $GITHUB_OUTPUT
      - name: Setup cache
        id: cache-system-libraries
        uses: actions/cache@v2
        with:
          path: "emsdk-cache"
          key: emsdk-cache
      - uses: mymindstorm/setup-emsdk@v14
        with:
          version: 3.1.47
          actions-cache-folder: "emsdk-cache"
      - name: Setup Igor
        uses: bscotch/igor-setup@v3
        id: igor
        with:
          target-yyp: ${{ steps.find_yyp.outputs.yyp-path }}
          access-key: ${{ secrets.GAMEMAKER_KEY }}
          modules: operagx
          cache: true
      - name: Build with Igor
        uses: bscotch/igor-build@v1
        id: build
        with:
          yyp-path: ${{ steps.find_yyp.outputs.yyp-path }}
          user-dir: ${{ steps.igor.outputs.user-dir }}
          platform: operagx
      - name: Extract Build
        run: |
          unzip "${{ steps.build.outputs.out-dir }}/${{ steps.build.outputs.out-name }}" -d extracted
      - name: Patch Build
        run: |
          sed -i 's/runner\.js/SPACEHOLE.js/g' extracted/runner-sw.js
          cat > /tmp/insert.txt << 'EOF'
                      const g_pWadLoadCallback = function () {};
                      var bodyElement = document.getElementById("canvas");
                      bodyElement.addEventListener("click", function () {
                          canvasElement.focus();
                      });
          EOF
          sed -i '/const CHANGE_ASPECT_RATIO = true;/r /tmp/insert.txt' extracted/index.html
      - name: Upload Build
        uses: actions/upload-artifact@v4
        with:
          name: build-web
          path: extracted
          retention-days: 1

  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Download Builds
        uses: actions/download-artifact@v4
        with:
          pattern: build-*
          path: build

      - name: Setup butler
        uses: remarkablegames/setup-butler@v2

      - name: Upload to itch.io
        run: |
          butler push build/build-windows BenjaminHalko/spacehole:windows
          butler push build/build-macos BenjaminHalko/spacehole:macos
          butler push build/build-web BenjaminHalko/spacehole:web
        env:
          BUTLER_API_KEY: ${{ secrets.BUTLER_API_KEY }}
